In [33]:
import numpy as np
import pandas as pd

from preprocessing import Preprocessor

data = pd.read_csv('/home/mahveotm/Desktop/Project/PredictingLikelyCustomerPurchase/data/bank-additional-full.csv', sep=';')
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [34]:
processs = Preprocessor(data)

In [32]:
processs._divide_data

In [25]:
data, columns = proces._divide_data(data,label=["y"])

TypeError: _divide_data() got an unexpected keyword argument 'label'

In [38]:
for datas in data.columns :
    print(data[datas].nunique())

78
12
4
8
3
3
3
2
10
5
1544
42
27
8
3
10
26
26
316
11
2

In [40]:
 data.describe().columns

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed'],
      dtype='object')